# ─────────────────────────────────────────────────────────────────────────────
# Django
# ─────────────────────────────────────────────────────────────────────────────
SECRET_KEY=
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
INTERNAL_IPS=127.0.0.1

# ─────────────────────────────────────────────────────────────────────────────
# Banco de dados
# ─────────────────────────────────────────────────────────────────────────────
DB_NAME=perfdb
DB_USER=perfuser
DB_PASSWORD=
DB_HOST=db
DB_PORT=5432
DATABASE_URL=postgres://perfuser:SUA_SENHA@db:5432/perfdb
DB_CONN_MAX_AGE=600

# ─────────────────────────────────────────────────────────────────────────────
# Web
# ─────────────────────────────────────────────────────────────────────────────
WEB_PORT=8000

# ─────────────────────────────────────────────────────────────────────────────
# Silk
# ─────────────────────────────────────────────────────────────────────────────
SILKY_PYTHON_PROFILER=True
